{{#if valueCookie}}

<h2>Bienvinido{{valueCookie.signUpInfo.firstName}}</h2>
<h3>Gracias por usar Arkituring para construir tu sueño</h3>

<div>
<p>Si ya tienes un proyecto o remodelación, solicita tu primer proyecto</p>
<a href="/add-project"> Comienza!</a>
</div>

<div>
<p>Conoce a los arquitectos listos para construir tus sueños</p>
<a href="/despachosDisponibles"> Conocer!</a>
</div>

<div>
<p>Ir a mi perfil</p>
<a href="/mainProfile">Perfil</a>
</div>
{{/if }}