<h1>Hola</h1>

{{#if valueCookie}}
<p>{{valueCookie}}</p>
<h2>Bienvinido{{valueCookie.firstName}}</h2>
<img src="{{valueCookie.logoImg}}" alt="">
<h3>Gracias por usar Arkituring para construir tu sueño</h3>


{{/if}}