<h2>Bienvinido</h2>
<h3>Gracias por ayudar a construir sueños</h3>

<div>
<p>Te sugerimos poner a la vista de clientes potenciales tus proyectos
</p>
<a href="/addPrj">Añadir Proyecto</a>
</div>

<div>
<p>Ir a mi perfil</p>
<a href="/architec-main">Perfil</a>
</div>