<h2>Inicia Sesión</h2>

<div id='loginForm'>

    <div class="loginTags"></div>
<script>

    let selectLoginUser = false;
    function changeLoginUser({
        selectLoginUser = selectLoginUser === true ?  false : true;
        document.querySelector('.loginForm').innerHTML =``

        
    });
</script>

<form action="/login" method="POST">


</form>
</div>