

<h1 class="h2 mb-10 font-weight-normal text-center">Bienvenido</h1>

    <div class="mt-5 container loginTags text-center block-center "></div>
<script>

    let selectLoginUser = false;
    function changeLoginUser(){
        selectLoginUser = selectLoginUser === true ?  false : true;
        document.querySelector('.loginTags').innerHTML =`
    <form class="form-signin " action="/login" method="POST">

            <img class="mb-4" src="./images/logo.png" alt="" width="72" height="72">
            <h4><b>IDEANDO</b></h4>
            <br>
            <br>
                <!--tag para mandar a Arch o Client-->
            <div>    
            <input class="noDisplay" type="text" style="display:none" name="userSign" value="${!selectLoginUser? 'architect':'client'}"id="userSign">
            </div>

        <h3>Soy: ${!selectLoginUser? 'Empresa':'Cliente'}</h3>
        <div>
            <input type="button" onclick='changeLoginUser()' id='client' name="userType"
             value="Cambiar" class="btn btn-lg fw-bold border-black bg-black">
        </div>

       
        <div >
            <label for="email" class="sr-only ">Correo Electrónico</label>
            <input type="email" class=" mt-4 form " style="height:50px;width:300px" name="email" id="email" required="" autofocus="" placeholder="Correo electrónico principal">
        </div>

       <div>
            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" class="form" style="height:50px; width:300px" name="password" id="password" required="" placeholder="********">
        </div>   

        
       <div>
           <button type="submit"   style="width:100px" class="mb-4 mt-4 btn btn-lg btn-primary ">LogIn</button>
        </div>  
            
        <div>
            <p>No tengo una cuenta</p>
            <a href="/signup">Signup</a>
        </div>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}    
    
</div>
</form>`
    };

changeLoginUser();
</script>


