
<hr class="mx-4">
<div class=" mx-4" id="signUp-content">

    <div class="allForm"></div>
   
 <script>
     let selectUserType = false;

     function changeUser (){
         selectUserType = selectUserType === true ? false : true;

    document.querySelector('.allForm').innerHTML =`
    <form class="form-signin " action="/signup" method="POST" enctype="multipart/form-data">
    <div>
        
        <div > <!--tag para mandar a Arch o Client-->   
        <input class="noDisplay" type="text" style="display:none" name="userSign" value="${!selectUserType? 'architect':'client'}"id="userSign">
        </div>

        <h3>Inscribirme como: <input type="button" width="200" onclick='changeUser()' id='client' name="userType"
             value="${!selectUserType? 'Empresa':'Cliente'}" class="btn-lg btn-outline-dark" ></p> </h3>
             <small class="form-text text-muted" >Clickea para cambiar el tipo de visitante.</small >
        <br> 
        <br>   
        <h4>Información de contacto</h4>
      
        <div class="row">
        <div class="form-group col">
            <label for="firstName">Nombre(s)</label>
            <input type="text" class='form-control' style="height:50px;" name="firstName" id="firstName" placeholder="Nombre(s)">
        </div>

        <div class="form-group col">
            <label for="lastName">Apellido(s)</label>
            <input type="text" class='form-control' name="lastName" style="height:50px;"  id="lastName" placeholder="Apellido(s)">
        </div>
        </div>

        <div class="row">
        <div class="form-group col">
            <label for="email">Correo Electrónico</label>
            <input type="email" class='form-control' name="email" style="height:50px;"  id="email" placeholder="Correo electrónico principal">
        </div>

        <div class="form-group col">
            <label for="password">Contraseña</label>
            <input type="password" class='form-control' name="password" style="height:50px;"  id="password" placeholder="********">
            <small class="form-text text-muted" >La Contraseña debe contener al menos 6 caráctres, un número, una letra minúscula, una letra mayúscula 
                y escribirse sin espacios.
            </small >
        </div>
        </div>    

        <div class="row">
        <div class="form-group col">
            <label for="mobileNumber">Número de teléfono móvil</label>
            <input type="text" class='form-control' name="mobileNumber" style="height:50px;"  id="mobileNumber" placeholder="Número de 10 digitos">
        </div>

        <div class="form-group col">
            <label for="rfc">RFC</label>
            <input type="text" class='form-control' name="rfc" id="rfc" style="height:50px;"  placeholder="RFC">
        </div>
         </div>

        <div class="form-group >
            <label for="address">Dirección</label>
            <input type="text" class='form-control' name="address" id="address" style="height:50px;"  placeholder='Dirección actual'>
        </div>

        <div class="row">
        <div class="form-group col">
            <label for="zipCode">C.P.</label>
            <input type="text" class='form-control' name="zipCode" id="zipCode" style="height:50px;"  placeholder="Código Postal">
        </div>

        <div class="form-group col">
            <label for="country">País de residencia</label>
            <input type="text" class='form-control' name="country" id="country" style="height:50px;"  value="Mexico" placeholder="País de residencia">
        </div>

        <div class="form-group col">
            <label for="city">Ciudad</label>
            <input type="text" class='form-control' name="city" id="city" style="height:50px;"  placeholder="Ciudad de residencia">
        </div>
        </div>
        ` 
        
        + `${selectUserType? 

        `
        <div class=" d-flex align-content-center justify-content-center ">
        <button type="submit" class="btn-lg btn-outline-primary">Create account</button>
        </div>
        
        {{#if errorMessage}}
            <div class="alert alert-danger" role="alert">
                <p class="error">{{errorMessage}}</p>
            </div>
        {{/if}}
          </div>
        </form>`:
        `<!--formularioa extra para arquitectos-->
        <br>
        <h3>Información Empresa</h3>
        <br>
         <div class="row">
        <div class="form-group col">
            <label for="commercialName">Nombre comercial</label>
            <input type="text" class='form-control' name="commercialName" style="height:50px;"  id="commercialName" placeholder="Nombre comercial">
        </div> 

        <div class="form-group col">
            <label for="fiscalName">Nombre fiscal</label>
            <input type="text"  class='form-control' name="fiscalName" style="height:50px;"  id="fiscalName" placeholder="Nombre fiscal">
        </div>     
         </div> 
        
        <div>
            <label for="logoImg">Logotipo</label>
            <input type="file"  class='form-control' name="logoImg" style="height:50px;"  id="logoImg">
        </div>

    <br>
    
    <h3>Bio and Social Media</h3>
    <br>
        <div "form-group col">
            <label class="col-sm-2 col-form-label" for="bioStory">Cuentanos un poco de ti.</label>
            <div class="col">
            <input type="textarea" class='form-control' name="bioStory" style="height:50px;"  id="bioStory" 
            placeholder="Escribe un breve texto que podrán leer tus posibles
            clietnes para conocerte más">
            </div>   
        </div>     

        <div class="form-group mt-4 col d-flex flex-row justify-content-around ">
            
                <div "col ">
                    <img src="./images/globe.svg" alt="IG-logo" width="30" height="30">
                    <input type="text"  class='mt-3 form-control' name="webPage" id="webPage" style="height:50px;"  placeholder="Pega el link de tu página web">
                </div>
                <div "col"> 
                    <img src="./images/facebook.svg" alt="facebook-logo" width="30" height="30">
                    <input type="text" class='mt-3 form-control' name="facebook" id="facebook" style="height:50px;"  placeholder="Pega el link de tu perfil de Facebook">
                </div>
                <div "col  ">
                    <img src="./images/instagram.svg" alt="IG-logo" width="30" height="30">
                    <input type="text" name="instragram" class='mt-3 form-control' id="instragram" style="height:50px;"  placeholder="Pega el link de tu perfil de Instragram">
                </div>    
                <div "col">
                    <img class="d-flex align-content-center justify-content-center"src="./images/twitter.svg" alt="twitter-logo" width="30" height="30">
                    <input type="text" name="twitter" class='mt-3 form-control' id="twitter" style="height:50px;"  placeholder="Pega el link de tu perfil de Twitter">
                </div>
        
        </div>   
        <br>
        <div class=" d-flex align-content-center justify-content-center ">
        <button type="submit" class="btn-lg btn-outline-primary">Create account</button>
        </div
        
        {{#if errorMessage}}
            <div class="alert alert-danger" role="alert">
                <p class="error">{{errorMessage}}</p>
            </div>
        {{/if}}
        </div>
    </form>`}`
    }
changeUser();
</script>
</div>