


<div>

    <form action="/promo-projects" method="POST">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="Nombre del proyecto">
        </div>  
        <div>
            <label for="localization">Lugar de construcción</label>
            <input type="text" name="localization" id="localization" placeholder="Lugar de construcción; ciudad, país">
        </div> 

        <div>
            <label for="finishConstrYear">Fecha de terminación</label>
            <input type="text" name="finishConstrYear" id="finishConstrYear" placeholder="YYYY">
        </div> 

<!--
        <div>
            <label for="images">Imagenes</label>
            <input type="file" name="images" id="images" placeholder="YYYY">
        </div> -->
    

    </form>

</div>

